<a href="{{ path(location) }}" title="{{ ez_content_name( content ) }}" tabindex="-1" class="search-result__item__img">  
    {% if not ez_is_field_empty( content, 'image' ) %}
        {{ ez_render_field( content, 'image', { 
            'parameters': {
                'alias': 'article_grid_3'
            }
        }  ) }}
    {% else %}
        <figure class="ezimage-field">
            <img src="{{ asset('bundles/tfktelemarkskole/images/contenttype/mappe.jpg') }}" alt="Bilde ikke tilgjengelig" />
        </figure>        
    {% endif %}
</a>
<div class="search-result__content">
    <h2 class="search-result__item__header">
        <a href="{{ path(location) }}" title="{{ ez_content_name( content ) }}">
            <span class="ezstring-field">{{ ez_content_name( content ) }}</span>
        </a>
    </h2>
    <div class="sidenote">
        Publisert {{ location.contentInfo.publishedDate|date("d.m.Y") }} {# Relevans: {{ searchHit.score }} #}
    </div>
    <div class="search-result__item__intro">
        <div class="ezxmltext-field"><p>{{ ez_render_field( content, 'description' ) }}</p></div>
    </div>
</div>