{#
    Defining page title based on current content name, if available
    See full/blog_post.html.twig for an example of customization
#}
{% set main_title = getConfigResolverParameter( 'title', 'head' ) %}
{% set meta_author = getConfigResolverParameter( 'meta_author', 'head' ) %}
{% set meta_description = getConfigResolverParameter( 'meta_description', 'head' ) %}
{% set meta_keywords = getConfigResolverParameter( 'meta_keywords', 'head' ) %}
{#
    Need something to ensure that home get the title Hjem
#}
{% if content is defined and title is not defined %}
    {% set title = ez_content_name( content ) ~ ' - ' ~ main_title %}
{% endif %}

{% if content.fields.author is defined %}
    {% set author = ez_field_value(content,'author') %}
{% else %}
    {% set author = meta_author %}
{% endif %}

{% if content.fields.author is defined %}
    {% set author = ez_field_value(content,'author') %}
{% else %}
    {% set author = meta_author %}
{% endif %}

{% if content.fields.author is defined %}
    {% set author = ez_field_value(content,'author') %}
{% else %}
    {% set author = meta_author %}
{% endif %}

{% if content.fields.intro is defined %}
{% set intro = ez_render_field(content, 'intro')|striptags|convert_encoding('UTF-8', 'HTML-ENTITIES') %}
{% endif %}
<title>{{ title|default( main_title ) }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="author" content="{{ author }}"/>
<meta name="copyright" content="{{ main_title }}"/>
<meta property="og:title" content="{{ main_title }}" />
<meta name="description" content="{% if content.fields.intro is defined %}{{ intro }}{% else %}{{ meta_description }}{% endif %}"/>
<meta property="og:description" content="{% if content.fields.intro is defined %}{{ intro }}{% else %}{{ meta_description }}{% endif %}" />


<meta name="keywords" content="{% if content.fields.meta_keywords is defined %}{{ ez_field_value(content,'meta_keywords') }}{% else %}{{ meta_keywords }}{% endif %}"/>
<meta name="MSSmartTagsPreventParsing" content="TRUE"/>
<meta name="generator" content="eZ Platform"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<!-- Telefon -->
<link href="//cloud.webtype.com/css/29f4b454-5ddc-454a-b1dc-ce911c228cd8.css" rel="stylesheet" type="text/css" />

<!-- Open Sans -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

<link rel="Home" href="{{ path( ezpublish.rootLocation ) }}" title="{{ main_title }}"/>
<link rel="Index" href="{{ path( ezpublish.rootLocation ) }}" title="{{ 'Hjem'|trans }}"/>
<link rel="Home" href="{{ path( ezpublish.rootLocation ) }}" title="{{ 'Hjem'|trans }}"/>
<meta property="og:url" content="{{ url( 'ez_urlalias', {'locationId': content.contentInfo.mainLocationId} ) }}" />

{% if content.fields.image is defined %}
<meta property="og:image" content="{{ asset( ez_image_alias( content.getField( 'image' ), content.versionInfo, 'small' ).uri ) }}" />
{% endif %}

<link rel="Shortcut icon" href="{{ asset( "bundles/tfktelemark/images/icons/favicon.ico" ) }}" type="image/x-icon"/>
<link rel="icon" type="image/x-icon" href="{{ asset( "bundles/tfktelemark/images/icons/favicon.ico" ) }}" />

{# adding canonical url for all location not set as main #}
{% if content is defined and content.contentInfo.mainLocationId != location.id %}
    <link rel="canonical" href="{{ path( 'ez_urlalias', {'locationId': content.contentInfo.mainLocationId} ) }}" />
{% endif %}
