{% set logo = getConfigResolverParameter( 'logo', 'head' ) %}
{% set main_title = getConfigResolverParameter( 'title', 'head' ) %}

        <header role="banner" class="page-header">
          <div class="page-header__content-wrapper js-headroom">
            <div class="constrained">
              <div class="page-header__content"><a href="#main" class="page-header__skip-to visuallyhidden-focusable">Hovedinnhold</a>
              <a id="menu-trigger" href="#footer-menu" class="menu-trigger icon--menu-mobile">Meny</a>
              <a href="{{ path( ezpublish.rootLocation ) }}search" class="menu-search-trigger icon--search">Søk</a>
              <a href="{{ path( ezpublish.rootLocation ) }}" class="page-header__logo">
                <img src="{{ asset('bundles/tfktelemarkskole/images/logo/' ~ logo) }}" alt="{{ main_title }}" /></a>
                <nav role="navigation" class="page-header__nav">
                            <ul class="nav nav--small">
                              {#
                              <li class="nav__item"><a href="/Fylkeskommunen/For-pressen" class="nav__item__link">Presse</a>
                              </li>
                              <li class="nav__item"><a href="https://postlister.t-fk.no" target="_blank" class="nav__item__link">Postlister</a>
                              </li>
                              <li class="nav__item"><a href="/Informasjon/English" class="nav__item__link">English</a>
                              </li>
                              <li class="nav__item"><a href="/Fylkeskommunen/Ledige-stillinger" class="nav__item__link">Ledige stillinger</a>
                              </li>
                              <li class="nav__item"><a href="/Vaare-tjenester/Soeknader-og-tilskudd" class="nav__item__link">Søknader og tilskudd</a>
                              </li>
                              <li class="nav__item"><a href="/Kontakt-oss" class="nav__item__link">Kontakt</a>
                              </li>
                              <li class="nav__item"><a href="#" class="nav__item__link"><abbr class="font-adjust js-font-adjust" title="Hvordan justere tekststørrelsen?"><span class="font-adjust__char--small">a</span> &rarr; <span class="font-adjust__char--large">a</span></abbr></a>
                              </li>
                              #}
                            </ul>
                </nav>
                <div class="page-header__search">
                {% block searchbox %}
                  {#{ render( controller("tfktelemarkBundle:Search:searchBox" )) }#}
                {% endblock %}
                </div>
                <div class="font-adjust__message js-font-adjust-message">For å endre tekststørrelsen, hold inne <kbd>Ctrl</kbd> (Windows/Linux) eller <kbd>Cmd</kbd> (Mac) og trykk på <kbd>+</kbd> for å forstørre eller <kbd>-</kbd> for å forminske.</div>
              </div>
            </div>
          </div>
          {{ render( controller( "tfktelemarkSkoleBundle:Menu:mainMenu")) }}
          {#
            <nav id="menu" role="navigation" class="menu">
              <div class="constrained">
                <ul class="menu__content menu__level">
                  <li class="menu__item">
                    <div class="menu__item-content-wrapper">
                      <div class="menu__item-content"><a href="{{ path( ezpublish.rootLocation ) }}" class="menu__item-link menu__item-link">Forside</a>
                      </div>
                    </div>
                  </li>
                  <li class="menu__item">
                    <div class="menu__item-content-wrapper">
                      <div class="menu__item-content"><a href="/Om-skolen" class="menu__item-link">Om skolen</a>
                      </div>
                    </div>
                  </li>
                  <li class="menu__item">
                    <div class="menu__item-content-wrapper">
                      <div class="menu__item-content"><a href="/Utdanningstilbud" class="menu__item-link">Utdanningstilbud</a>
                      </div>
                    </div>
                  </li>

                  <li class="menu__item">
                    <div class="menu__item-content-wrapper">
                      <div class="menu__item-content menu__item--submenu"><a href="/Vaare-tjenester" class="menu__item-link menu__item-link--submenu">Våre tjenester</a><span class="icon--menu-arrow-down menu__item__dropdown hide--to-l"></span><span class="icon--menu-arrow-right menu__item__dropdown hide--from-l js-menu-dropdown"></span>
                      </div>
                         {{ render( controller("tfktelemarkBundle:Item:mainMenu", {'locationId': '111' } )) }}
                    </div>
                  </li>

                  <li class="menu__item">
                    <div class="menu__item-content-wrapper">
                      <div class="menu__item-content"><a href="/Praktisk-info" class="menu__item-link">Praktisk info</a>
                      </div>
                    </div>
                  </li>
                  <li class="menu__item">
                    <div class="menu__item-content-wrapper">
                      <div class="menu__item-content"><a href="/Elevtjenester" class="menu__item-link">Elevtjenester</a>
                      </div>
                    </div>
                  </li>
                  <li class="menu__item">
                    <div class="menu__item-content-wrapper">
                      <div class="menu__item-content"><a href="/Aktuelt" class="menu__item-link">Aktuelt</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
          #}
          </header>