<div class="row block-contentlist">
    {% if name is defined  %}
<!--         <h3>{{ name }}</h3> -->
    {% endif %}
    {% if contentArray|length > 0 %}
        {% if viewType == 'float2' %}
            <div class="grid grid--12">
                {% for content in contentArray %}
                    <div class="item item--vertical grid__item--6-12 landing-article">
                        <div>
                         <a href="{{ path(content.location) }}" alt="{{ content.content.contentInfo.name }}">
                            {% if not ez_is_field_empty( content.content, 'image' )%}
                                {{ ez_render_field(
                                    content.content, 'image', {
                                        'parameters': {
                                            'alias': 'article_grid_2',
                                            'class': 'img-responsive'
                                        }
                                    }
                                ) }}
                            </a>
                            {% endif %}

                            <div class="intro-text">
                                <h1><a href="{{ path(content.location) }}" alt="{{ content.content.contentInfo.name }}">{{ ez_render_field( content.content, 'title') }}</a></h1>
                                   {{ ez_render_field(content.content, "intro") }}
                            </div>
                        </div>
                     </div>
                {% endfor %}
            </div>
        {% endif %}

       {% if viewType == 'float3' %}
            <div class="grid grid--12">
                {% for content in contentArray %}
                    <div class="item item--vertical item--3-3">
                        <div>
                        <a href="{{ path(content.location) }}" alt="{{ content.content.contentInfo.name }}">
                            {{ ez_render_field(
                                content.content, 'image', {
                                    'parameters': {
                                        'alias': 'article_grid_3',
                                        'class': 'img-responsive'
                                    }
                                }
                            ) }}
                        </a>
                            <div class="intro-text">
                                <h4><a href="{{ path(content.location) }} alt="{{ content.content.contentInfo.name }}">{{ ez_render_field( content.content, 'title') }}</a></h4>
                            </div>
                            {#
                                {% if not ez_is_field_empty( content.content, ('intro') %}
                                    <div>{{ ez_render_field(content.content, 'intro') }}</div>
                                {% endif %}
                            #}
                        </div>
                     </div>
                {% endfor %}
            </div>
        {% endif %}

    {% endif %}
</div>
