<div class="row block-contentlist">
    {% if name is defined  %}
        <h3>{{ name }}</h3>
    {% endif %}
    {% if contentArray|length > 0 %}
        {% if viewType == 'float2' %}
            <div class="grid grid--12">
                {% for content in contentArray %}
                    <div class="item item--vertical grid__item--6-12">
                        <div>
                            {% if not ez_is_field_empty( content.content, 'image' )%}
                                {{ ez_render_field(
                                    content.content, 'image', {
                                        'parameters': {
                                            'alias': 'article_grid_2',
                                            'class': 'img-responsive'
                                        }
                                    }
                                ) }}
                            {% endif %}
                            <h4><a href="{{ path(content.location) }}">{{ ez_render_field( content.content, 'title') }}</a></h4>
                            {#
                                {% if not ez_is_field_empty( content.content, ('intro') %}
                                    <div>{{ ez_render_field(content.content, 'intro') }}</div>
                                {% endif %}
                            #}
                        </div>
                     </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if viewType == 'float3' %}
            <div class="grid grid--12">
                {% for content in contentArray %}
                    <div class="item item--vertical grid__item--4-12">
                        <div>
                            {{ ez_render_field(
                                content.content, 'image', {
                                    'parameters': {
                                        'alias': 'article_grid_3',
                                        'class': 'img-responsive'
                                    }
                                }
                            ) }}
                            <h4><a href="{{ path(content.location) }}">{{ ez_render_field( content.content, 'title') }}</a></h4>
                            {#
                                {% if not ez_is_field_empty( content.content, ('intro') %}
                                    <div>{{ ez_render_field(content.content, 'intro') }}</div>
                                {% endif %}
                            #}
                        </div>
                     </div>
                {% endfor %}
            </div>
        {% endif %}

    {% endif %}
</div>
