{% extends "tfktelemarkSkoleBundle::pagelayout.html.twig" %}

{% set siteaccess = ezpublish.siteaccess.name %}
{% block content %}
  {% if event is defined %}
    <main id="main" role="main" tabindex="-1">
      <article class="article" itemscope="" itemtype="https://schema.org/NewsArticle">
        <header class="page-header">
          <div class="constrained">
            <h1 class="page-header__title" itemprop="name">{{ event.Subject }}</h1>
          </div>
        </header>

        <div class="byline">
          <div class="constrained">
            <span class="ezagenda_date">
              
              {{ event.Start|date('j') }}. {{ event.Start| localizeddate('none', 'none', app.request.locale, null, 'MMMM' ) }}

              {% if event.IsAllDayEvent %}
                {% set calculatedEnd  = event.End|date_modify( '-1 day' ) %}
                {% if event.Duration != 'P1D' %}
                  → {{ calculatedEnd|date('j') }}. {{ calculatedEnd| localizeddate('none', 'none', app.request.locale, null, 'MMMM' ) | capitalize }}
                {% endif %}
              {% else %}
                {{ event.Start|date( 'H:i' ) }}
                {% if event.End|date('Y-m-d') > event.Start|date('Y-m-d') %}
                  → {{ event.End|date('j') }}. {{ event.End| localizeddate('none', 'none', app.request.locale, null, 'MMMM' ) | capitalize }}
                {% else %}
                  →
                {% endif %}
                {{ event.End|date( 'H:i' ) }}
              {% endif %}

              {% if event.Location != "" %}
                - {{ event.Location }}
              {% endif %}
            </span>
          </div>
        </div>
        <div class="constrained">
          <div class="content__main">
            <div id="event_full" class="attribute-short">
              {{ event.Body._|raw }}
            </div>

            <script>
              $('#event_full style').remove();
            </script>
                <a href="/{{ siteaccess }}/kalender/">Tilbake</a>
          </div>
        </div>

      </article>
    </main>
  {% endif %}

{% endblock %}