<div class="item item--vertical grid__item--4-12">

    {% if not ez_is_field_empty( content, 'image' ) %}
        <a href="{{ path(location) }}" class="item__imglink imglink" alt="{{ content.contentInfo.name }}">
        {{ ez_render_field( content, 'image', {
            'parameters': {
                'alias': 'person',
                'class': 'img-responsive'
            }
        }  ) }}
         </a>
    {% else %}
          <figure class="ezimage-field">
            <img src="{{ asset('bundles/tfktelemarkskole/images/contenttype/bildetmangler.jpg') }}" alt="Mappe" />
        </figure>
    {% endif %}
        <h2 class="item__header">
            {{ ez_render_field( content, 'name' ) }} {{ ez_render_field( content, 'lastname' ) }}
        </h2>
        <div class="item__intro">

            {% if not ez_is_field_empty( content, 'email' ) %}
                     <p>Epost: {{ ez_render_field( content, 'email' ) }}</p>
            {% endif %}

            {% if not ez_is_field_empty( content, 'phone' ) %}
                     <p>Telefon: {{ ez_render_field( content, 'phone' ) }}</p>
            {% endif %}
            {% if not ez_is_field_empty( content, 'desc' ) %}
                    {{ ez_render_field( content, 'desc' ) }}
            {% endif %}
    </div>
</div>