{% extends noLayout ? viewbaseLayout : "tfktelemarkSkoleBundle::pagelayout.html.twig" %}

{% block content %}
    <div class="content">
        <div class="constrained-content">
            <main id="main" role="main" tabindex="-1" class="main">
                <article class="no-top-spacing">
                    <header class="article__header">
                        <h1>{{ ez_render_field( content, 'title' ) }}</h1>
                        <div class="sidenote">
                            Publisert: {{ location.contentInfo.publishedDate|date("d.m.Y") }} / Oppdatert: {{ location.contentInfo.modificationDate|date("d.m.Y") }}
                        </div>
                    </header>
 {% if ez_is_field_empty(content, 'hide_poster') %}
                           {% if not ez_is_field_empty(content, 'image') %}
                     <div class="right-large-image">
                         {{ ez_render_field(content, 'image', {
                        'parameters': {
                            'alias': 'article_large',
                            'class': 'img-responsive'
                        }
                    }) }}
                     <div class="caption">
                        {% if not ez_is_field_empty(content, 'caption') %}
                            <div>
                                {{ ez_render_field( content, 'caption') }}
                            </div>
                        {% endif %}
                        {% if not ez_is_field_empty(content, 'copyright') %}
                            <div>
                                Copyright: {{ ez_render_field( content, 'copyright') }}
                            </div>
                        {% endif %}
                    </div>
                    </div>
                    {% endif %}
 {% endif %}
                      {% if not ez_is_field_empty( content, 'intro' ) %}
                        <div class="ingress">
                            {{ ez_render_field( content, 'intro' ) }}
                        </div>
                    {% endif %}
                    {% if not ez_is_field_empty( content, 'body' ) %}
                        {{ ez_render_field( content, 'body' ) }}
                    {% endif %}
                </article>
            </main>
        </div>
    </div>
{% endblock %}