{% extends noLayout ? viewbaseLayout : "tfktelemarkSkoleBundle::pagelayout.html.twig" %}

{% block content %}
    <div class="content">
        <div class="constrained-content">
            <main id="main" role="main" tabindex="-1" class="main">
             {% if not ez_is_field_empty( content, 'right_header_1' ) %}
                <article class="main__center-left">
            {% else %}
                <article class="main">
            {% endif %}
                      {{ ez_render_field(content, 'image', {
                        'parameters': {
                            'alias': 'article_large',
                            'class': 'img-responsive'
                        }
                    }) }}
                    <div class="caption">
                        {% if not ez_is_field_empty(content, 'caption') %}
                            <div>
                                {{ ez_render_field( content, 'caption') }}
                            </div>
                        {% endif %}
                        {% if not ez_is_field_empty(content, 'copyright') %}
                            <div>
                                Copyright: {{ ez_render_field( content, 'copyright') }}
                            </div>
                        {% endif %}
                    </div>

                    <header class="article__header">
                        <h1>{{ ez_render_field( content, 'title' ) }}</h1>
                        <div class="sidenote">
                            Publisert: {{ location.contentInfo.publishedDate|date("d.m.Y") }} / Oppdatert: {{ location.contentInfo.modificationDate|date("d.m.Y") }}
                        </div>
                    </header>

                    {% if not ez_is_field_empty( content, 'short_description' ) %}
                        <div class="ingress">
                            {{ ez_render_field( content, 'short_description' ) }}
                        </div>
                    {% endif %}

                    {% if not ez_is_field_empty( content, 'description' ) %}
                        {{ ez_render_field( content, 'description' ) }}
                    {% endif %}
                    {% if ez_is_field_empty( content, 'hide_subpages' ) %}
                    {% for item in items %}
                        {{ render(controller('ez_content:viewLocation', {
                        'locationId': item.id,
                        'viewType': 'line',
                        'limit': '5',
                        'columns': columns
                                }))
                            }}
                    {% endfor %}
                        {% include 'tfktelemarkSkoleBundle:parts:pagination.html.twig' %}
                    {% endif %}

                </article>

                {% if not ez_is_field_empty( content, 'right_header_1' ) %}
                    <aside class="sidebar-right">
                        <h2>{{ ez_render_field( content, 'right_header_1' ) }}</h2>

                    <div class="sidebar-right__content">

                        {% if not ez_is_field_empty( content, 'right_text_1' ) %}
                                {{ ez_render_field( content, 'right_text_1' ) }}
                        {% endif %}
                    </div>

                    </aside>
                {% endif %}


                <aside class="sidebar-right__content">

                    {{ render( controller( "tfktelemarkSkoleBundle:Sidebar:sidebarItems", {
                        'locationId': location.id }
                    )) }}

                </aside>

            </main>
        </div>
    </div>

{% endblock %}