{% extends noLayout ? viewbaseLayout : "tfktelemarkSkoleBundle::pagelayout.html.twig" %}
{% block content %}
<div class="item item--vertical grid__item--{{ columns|default(4) }}-12">

    {% if not ez_is_field_empty( content, 'image' ) %}
        <a href="{{ path(location) }}" class="item__imglink imglink" alt="{{ content.contentInfo.name }}">
        {{ ez_render_field( content, 'image', {
            'parameters': {
                'alias': 'article_grid_5',
                'class': 'img-responsive'
            }
        }  ) }}
         </a>
    {% else %}
          <figure class="ezimage-field">
            <img src="{{ asset('bundles/tfktelemarkskole/images/contenttype/bildetmangler.jpg') }}" alt="Mappe" />
        </figure>
    {% endif %}
    <div class="item__content">
        <h2 class="item__header">
                {{ ez_render_field( content, 'name' ) }} {{ ez_render_field( content, 'lastname' ) }}
        </h2>
        <div class="item__intro">
            {{ ez_render_field( content, 'email' ) }}
            {{ ez_render_field( content, 'phone' ) }}
            {{ ez_render_field( content, 'desc' ) }}
        </div>
    </div>
</div>
{% endblock %}